/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------
    GENERAL
------------------*/
.hidden-mobile {
    display: none;
}

.show-mobile {
    display: block;
}

body {
    font-family: "Poppins", sans-serif;
}

/*----------------
    LEFT-HEADER
------------------*/
header {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    border-left: 2px solid black;
    overflow-y: auto;
    z-index: 9;
}

.logo {
    padding: 4px 10px 10px 10px;
}

.logo img {
    height: 30px;
}

.header-nav ul {
    list-style: none;
}

.header-nav ul li {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.header-nav ul li a img {
    height: 30px;
    width: auto;
    padding: 0px 10px;
}

.playlist {
    flex-grow: 1;
    padding: 0px 20px;
    overflow-y: auto;
    min-height: 140px;
}

.playlist-title {
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
}

.playlist-title h1 {
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    padding: 10px 0px;
}

.create-playlist {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #a3a3a3;
}

.create-playlist button {
    font-size: 18px;
    padding: 8px 14px;
    background-color: #A3A3A3;
    margin-right: 10px;
    border: none;
}

.playlist-options ul {
    list-style: none;
}

.playlist-options ul li {
    padding-bottom: 20px;
}

.playlist-options ul li a {
    text-decoration: none;
    color: #a3a3a3;
    font-size: 14px;
}

.account {
    max-height: 72px;
    margin-bottom: 90px;
    display: block;
    text-align: center;
    padding-right: 2px;
}

.download img {
    height: 16px;
    width: auto;
}

.download-text {
    color: #A3A3A3;
    font-size: 14px;
}

.account hr {
    color: #A3A3A3;
    margin-right: 20px;
}

.account p {
    display: inline-block;
}

.user img {
    height: 26px;
    background-color: #a3a3a3;
    border-radius: 100px;
    margin: 10px 0px;
}

.user-text {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

/*----------------
    MAIN
------------------*/
.upgrade-banner {
    height: 90px;
    background-color: pink;
    position: sticky;
    right: 0;
    top: 0;
}

/*----------------
    FOOTER
------------------*/
footer {
    background-color: lavender;
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}


/*----------------
    LAYOUT - RESPONSIVE
------------------*/

/* lg-desktop */
@media screen and (min-width: 553px) {
    header {
        width: 240px;
    }

    .show-mobile {
        display: none;
    }

    .hidden-mobile {
        display: block;
    }

    .logo {
        padding: 18px;
    }

    .logo img {
        height: 50px;
    }

    .header-nav li:first-child {
        border-left: 2px solid greenyellow;
    }

    .header-nav ul li a img {
        padding: 0px 20px;
    }

    .account {
        text-align: left;
        padding-left: 20px;

}

