/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    LAYOUT
------------------*/
.left-header {
    background-color: lightcoral;
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
}


/*----------------
    LAYOUT - RESPONSIVE
------------------*/

/* lg-desktop */
@media screen and (min-width:879px) {
    .left-header {
        width: 240px;
    }
}

